body {
    padding: 100px;
    font-family: 'Roboto Mono', Helvetica, Arial, sans-serif, monospace;
}

small {
    font-size: 15px;
    font-weight: normal;
}

p {
    font-size: 24px;
    font-weight: 400;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 1px;
    border: 0;
    background: #EFF1F3;
}

/* Style the link */
a {
    color: #0067FB;
    background-color: transparent;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 0px 1px;
    transition: color ease 0.3s;
    word-break: break-word;
}

/* Style the pseudo-element ::after */
a::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: #D4EBFF;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform ease 0.3s;
}

/* Hover effect to expand the ::after pseudo-element and change font color */
a:hover::after {
    transform: scaleY(1);
    color: white;
}


nav {
    text-align: left;
}

nav a {
    text-decoration: none;
    color: blue;
    margin-right: 5px;
    transition: color 0.3s, background-color 0.3s;
}

nav a::after {
    color: white;
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: #D4EBFF;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform ease 0.3s;
}

.u-separate::before {
    content: "/";
    color: black;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 100;
    color: #5C6E74;
    margin-top: 20px;
}

.social-links {
    text-align: right;
}

.social-links a {
    text-decoration: none;
    color: blue;
    transition: color 0.3s, background-color 0.3s;
}

.social-links a:hover {
  background-color: #D4EBFF;
  transition: color 0.3s, background-color 3s;
}

@media (max-width: 768px) {
    body {
        padding: 20px;
    }

    p {
        font-size: 16px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    .social-links {
        text-align: center;
    }
}

.widget-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}

.subscription-text {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* About section CSS */
.about-heading {
color: #163541;
line-height: 1.5;
font-weight: 400;
display: block;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

.about-paragraph {
color: #5C6E74;
font-weight: 400;
font-size: 1.1rem;
margin-bottom: 30px;
}

#the-website {
    font-weight: 400;
    color: #163541;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#etcetera {
    font-weight: 400;
    color: #163541;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

pre {
            background-color: white;
            padding: 20px;
            border: 1px solid #ddd;
            white-space: pre-wrap;
            font-family: 'Courier New', Courier, monospace;
        }

pre code {
    background-color: white;
}

/* Style for the container holding both the paragraph and image */
        .container {
            display: flex; /* Use flexbox for layout */
            align-items: center; /* Center align items vertically */
        }

        /* Style for the paragraph */
        .about-paragraph {
            flex: 2; /* Allow the paragraph to grow and take available space */
          margin-right: 20px;
        }

        /* Style for the image container */
        .image-container {
            flex: 1; /* Allow the image container to grow and take available space */
            text-align: center; /* Center align the image and caption */
        }

        /* Style for the image */
        .image-container img {
            max-width: 100%; /* Ensure the image doesn't exceed the container's width */
            border-radius: 8px; /* Rounded corners for the image */
        }

     .image-caption {
    font-size: 12px; /* Adjust the font size as needed */
    margin-top: 5px; /* Add some margin to separate it from the image */
    color: #5C6E74;
    font-weight: 400;
    text-align: center; /* Center align the caption */
    flex-grow: 1; /* Allow the caption to grow and take available space vertically */
}


/* Projects section CSS */
.projects-heading {
color: #163541;
line-height: 1.5;
font-weight: 400;
display: block;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

.projects-paragraph {
color: #5C6E74;
font-weight: 400;
font-size: 1.1rem;
margin-bottom: 30px;
}

/* Calendar Page */
/* CSS for the submit button */
#submit-passcode {
    background-color: white; /* Set the initial background color to white */
    color: black; /* Set the text color to black */
    border: 1px solid black; /* Add a black border */
    padding: 5px 5px; /* Add padding for better appearance */
  margin-left: 10px; 
    cursor: pointer; /* Change the cursor to a pointer on hover */
    transition: background-color 0.3s, color 0.3s; /* Add a transition effect */
  font-size: 16px;
}

/* Change the button color to black on hover */
#submit-passcode:hover {
    background-color: black;
    color: white;
}

/* CSS for the text field */
#passcode-input {
    border: 1px solid black; /* 1px black border for the text field */
    padding: 5px 10px; /* Add padding for better appearance */
    font-size: 16px; /* Set the font size to 16px (you can adjust this as needed) */
    height: 18px; /* Set the height to match the submit button */
    vertical-align: middle; /* Align the text vertically in the middle */
}

/* Style for the input row */
.input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; /* Add margin to separate from the heading */
}
