 body {
            padding: 100px;
            font-family: 'Roboto Mono', Helvetica, Arial, sans-serif, monospace;
        }

        small {
            font-size: 15px;
            font-weight: normal;
        }

        p {
            font-size: 24px;
            font-weight: 400;
        }

        nav {
            text-align: left;
        }

        nav a {
            text-decoration: none;
            color: blue;
/*             margin-right: 5px; */
            transition: color 0.3s, background-color 0.3s;
        }

        nav a:hover {
            color: white;
            background-color: blue;
            padding: 5px 10px;
            border-radius: 5px;
        }

        .u-separate::before {
            content: "/";
            color: black;
        }

        footer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            font-size: 15px;
            font-weight: 100;
            color: #5C6E74;
            margin-top: 20px;
        }

        .social-links {
            text-align: right;
        }

        .social-links a {
            text-decoration: none;
            color: blue;
            transition: color 0.3s, background-color 0.3s;
        }

        .social-links a:hover {
            color: white;
            background-color: blue;
            padding: 5px 10px;
            border-radius: 5px;
        }

        @media (max-width: 768px) {
            body {
                padding: 20px;
            }

            p {
                font-size: 16px;
            }

            footer {
                flex-direction: column;
                text-align: center;
            }

            .social-links {
                text-align: center;
            }
        }

        .widget-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
            justify-content: center;
            height: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            border: 1px solid black;
            border-radius: 5px;
            padding: 20px;
        }

        .subscription-text {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 20px;
        }
